<div style="margin: auto;
width: 90%;
padding: 10px;"> 
<mat-toolbar>
    <span>Ask what to do</span>
  </mat-toolbar>
  <mat-card class="my-card" id = "mat-card">
     <mat-card-content>
        <form class="my-form" [formGroup]="questionForm" autocomplete="off" novalidate (ngSubmit)="askQuestion(questionForm.value)">
            <mat-card-content>
                   <mat-form-field class="full-width">
                        <mat-label>Paticipants</mat-label>
                        <input  matInput type="number"  placeholder="1"  min="1" formControlName="participants" name="participants"  required>
                     </mat-form-field>
                     <mat-form-field class="full-width">
                        <mat-label>Budget</mat-label>
                        <input matInput type="number" formControlName="budget" name = "budget" min="0.0">
                        <span matPrefix>$&nbsp;</span>
                        <span matSuffix>.00</span>
                      </mat-form-field>
                  <mat-form-field class="full-width">
                     <mat-label>Time</mat-label>
                     <input  matInput type="number" placeholder="1:00" min="0.0" formControlName="time" name="time">
                     <span matSuffix>hours</span>
                  </mat-form-field>
                  <br>
                  <mat-label>Intensity of activity: </mat-label>
                  <mat-radio-group aria-label="Intensity of activity" formControlName="intensity" class="full-width">
                  
                     <mat-radio-button value="1">Low</mat-radio-button>
                     <mat-radio-button value="2">Normal</mat-radio-button>
                     <mat-radio-button value="3">Hardcore</mat-radio-button>
                  </mat-radio-group>
   
              </mat-card-content>
              <mat-card-actions>
               <button mat-raised-button [disabled]="!questionForm.valid" color="primary">Ask</button>
              </mat-card-actions>
        </form>
     </mat-card-content>
     
  </mat-card>
</div>