<div style="margin: auto;
width: 90%;
padding: 10px;"> 
<mat-toolbar>
    <span>Ask what to do</span>
  </mat-toolbar>
  <mat-card class="my-card" id = "mat-card">
     <mat-card-content>
        <form class="my-form">
            <mat-card-content>
                <form class="my-form">
                   <mat-form-field class="full-width">
                        <mat-label>Paticipants</mat-label>
                        <input  matInput type="number"  placeholder="1"  min="1" name="participants"  required>
                     </mat-form-field>
                     <mat-form-field class="full-width">
                        <mat-label>Budget</mat-label>
                        <input matInput type="number" name = "budget" >
                        <span matPrefix>$&nbsp;</span>
                        <span matSuffix>.00</span>
                      </mat-form-field>
                  <mat-form-field class="full-width">
                     <mat-label>Time</mat-label>
                     <input  matInput type="time" placeholder="1:00" name="Time">
                  </mat-form-field>
                  <br>
                  <mat-label>Intensity of activity: </mat-label>
                  <mat-radio-group aria-label="Intensity of activity"  class="full-width">
                  
                     <mat-radio-button value="1">Low</mat-radio-button>
                     <mat-radio-button value="2">Normal</mat-radio-button>
                     <mat-radio-button value="3">Hardcore</mat-radio-button>
                  </mat-radio-group>
   
                </form>
              </mat-card-content>
        </form>
     </mat-card-content>
     <mat-card-actions>
      <button mat-raised-button routerLink="/recomendation" color="primary">Ask</button>
       <!-- <button mat-raised-button (click)="askQuestion()" color="primary">Ask</button>-->
     </mat-card-actions>
  </mat-card>
</div>