<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <mat-toolbar>
            <h3>Recomendations</h3>
        </mat-toolbar>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="{{activities.length}}" rowHeight="200px">
      <mat-grid-tile *ngFor="let activity of activities" (click) = onSelect(activity)>
        <img height="200px" src={{activity.image}} alt={{activity.name}}>
        <mat-grid-tile-footer>
          <h1>{{activity.name | uppercase}}</h1>  
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <app-recomendation-detail [activity] = "selectedActivity"></app-recomendation-detail>
</div>