.spacer {
    flex: 1 1 auto;
  }

.active {
  font-weight: bold;
}

.Main {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.mat-toolbar{
 background-color: #0085D2;
}

.font{
font-size:  100%;

color: white;
}