.spacer {
    flex: 1 1 auto;
  }

.active {
  font-weight: bold;
}

.Main {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.mat-toolbar{
 background-color: #0085D2;
}

.font{
font-size:  100%;

color: white;
}

.amply{
  text-align: center;
  --amplify-primary-font-weight: bold;
}
.sign-out{
  --amplify-primary-color: transparent;
  --amplify-primary-font-weight: bold;
}
.root{

  --amplify-primary-color: #008000;
  --amplify-primary-tint: #0000FF; 
  --amplify-primary-shade: #008000;

  }
  footer {
    background-color: #163577c9;
    border-top: 1px solid #bbb;
    text-align: center;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    color: #FFFFFF;
  }