
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span><a  mat-button routerLink="/question" routerLinkActive="active">Ask what to do</a>
      <a  mat-button  routerLink="/favorites" routerLinkActive="active">My favorites</a></span>
     <span class="spacer"></span>
     <a  mat-button  routerLink="/register" routerLinkActive="active">Register</a>
     <a  mat-button  routerLink="/login" routerLinkActive="active">Login</a>
     
  </mat-toolbar-row>
</mat-toolbar>
<div class="main">
  <router-outlet></router-outlet>
  
</div>