.spacer {
    flex: 1 1 auto;
  }

.active {
  background:  #F29F05;
}

.Main {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.mat-toolbar{
 background-color: #0186D1;
}

.font{
font-size:  100%;
font-weight: bold;
}