.mat-card {
    max-width: 300px;
    margin: 4px;
    text-align: center;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.turn-green {
    background-color: green;
}
.btn-default{
  background-color: gray;
}